.btnn{
    border:none;
    height:40px;
    color:#ffffff;
    width:100%;
    font-size:16px;
    border-radius:30px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
  }
  .btnn:hover{
    border: 1px solid #DA59B1;
    height: 40px;
    font-family: Roboto;
    color: #DA59B1;
    background:#ffffff;

    border-color: linear-gradient(to top right, #8162CE, #F54BA5);;
    border-radius:30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
  }

  .profile{
    border-radius:100%;
    margin-top:10px;
    margin-left:15px;
    margin-bottom: 10px;
    width:264px;
    height:256px;

  }
  .card{
    transition: 0.5s;
}
.card:hover{
    
    transform: scale(1.05);
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
   }
